<div id="login-page">
  <form id="login-form">
    <div class="inputField">
      <input type="text" id="userName" class="input-login" placeholder="Username" #userName>
    </div>
    <div class="inputField">
      <input type="text" id="userPass" class="input-login" placeholder="Password" #userPass>
    </div>
    <div id="button-login">
      <button (click)="signUp()" type="button" id="create-btn" class="login-page-btn">Sign Up</button>
      <button (click)="checkLogin(userName.value, userPass.value)" type="submit" id="login-btn" class="login-page-btn">Sign In</button>
    </div>
  </form>
</div>
