.nav{
  background-color: black;
  color: #fff;
  max-width: 380px;
  height: 750px;
  padding: 10px 10px;
}

.nav img{
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  padding: 10px 10px;
}

.info{
  display: flex;
  justify-content: space-between;
}

.info h2{
  margin-top: 20px;
}
