<div class="card">
  <div class="card-title">
    <b>Sign Up</b>
  </div>
  <div class="card-body">
    <form class="" action="index.html" method="post">
      <label for="username"></label>
      <input type="text" name="username" [(ngModel)]="un" placeholder="   username">
      <label for="password"></label>
      <input type="text" name="password" [(ngModel)]="pw" placeholder="   password">
      <button type="submit" name="button" (click)="addUser(un,pw)">Sign Up</button>
    </form>
  </div>
</div>
