.center-text {
  border-style: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-style: none;
}

p {
  color: #3C67C2;
  font-size: 25px;
}

#blog {
  border-style: solid;
  border-color: #4A90E2;
  border-radius: 4px;
}

button {
  width: 12%;
  color:#8e8e8e;
}

.btn-submit {
  background:linear-gradient(to right, #232526, #414345);
}

textarea {
  background-color: rgba(255, 255, 255, 0.5)
}

footer {
  float: right;
  font-size: 12px;
  margin-top: 15px;
}
