body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-image: url(./assets/img/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#logo {
  width: 20%;
  margin: 5%;
}
