.my-message {
  color: #FFF;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  border-radius: 7px;
  padding: 3px;
  margin: 7px;
  font-size: 60%;
}

.other-message {
  color:  #8e8e8e;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 7px;
  padding: 3px;
  margin: 7px;
  font-size: 50%;
}
