.my-message {
  color: #FFF;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  border-radius: 7px;
  padding: 3px;
  margin: 7px;
  float: right;
  position: relative;
}

.other-message {
  color:  #000000;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 7px;
  padding: 3px;
  margin: 7px;
  float: left;
}

h3 {
  overflow-wrap: break-word;
  font-size: 97%;
  padding: 5px;
}

#textArea {
  max-height: 50%;
  border-radius: 7px;
}
